@using WebApplication2.Models;
@model List<Doctor>

<div class="container-fluid">
    <div class="row">
        <h1 class="text-danger mt-3 text-center">Doctor</h1>

        <div class="col-lg-12">
            <a asp-controller="Admin" asp-action="AddOrUpdateDoctor" class="text-white btn btn-danger border btn-block">
                Add Your Service
            </a>

            <table class="table table-hover mt-3 table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Degree</th>
                        <th>About</th>
                        <th>Image</th>
                        <th>Address</th>
                        <th>Fees</th>
                        <th>Designation</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name

                                </td>
                                <td>
                                    @item.Age

                                </td>
                                <td>
                                    @item.Degree

                                </td>
                                <td>
                                    <img src="~/assets/img/@item.ImageUrl" width="150" height="200" alt="@item.Name" />
                                </td>

                                <td>
                                    @item.Address
                                </td>  
                                <td>
                                    @item.Fees
                                </td>  
                                <td>
                                    @item.Designation
                                </td>
                                <td>
                                    @item.DoctorStatus
                                </td>
                                <td>
                                    @item.DoctorCategory
                                </td>
                                <td>
                                    <button class="btn btn-warning">
                                        <a asp-controller="Admin" asp-action="AddOrUpdateDoctor" class="text-white">
                                            Edit
                                        </a>
                                    </button>
                                    <button class="btn btn-danger" asp-controller="Admin" asp-action="DeleteDoctor"
                                    asp-route-id="@item.Id">
                                        Delete
                                    </button>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
