@using WebApplication2.Models;
@model List<Service>

<div class="container mt-4">
    <div class="row">
        <h1 class="text-danger mt-3 text-center">Services</h1>

        <div class="d-flex flex-start">
            <a asp-controller="Admin" asp-action="AddOrUpdateService" class="text-white btn btn-danger border">
                Add New Record
            </a>
        </div>
        <table class="table table-hover mt-3 table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                @if (Model != null && Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <img src="~/assets/img/@item.ImageUrl" width="150" height="200" alt="@item.Name" />
                            </td>

                            <td>
                                @item.Description
                            </td>
                            <td>
                                <a asp-controller="Admin" asp-action="AddOrUpdateService" class="text-white btn btn-warning" asp-route-id="@item.Id">
                                    Edit
                                </a>
                                <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteService"
                                     asp-route-id="@item.Id">
                                    Delete
                                </a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
</div>
