@using WebApplication2.Models;
@model List<Schedule>;

<div class="container">
    <div class="row">
        <h1 class="text-danger mt-3 text-center">Schedule</h1>

        <div class="col-lg-12">
            <button class="btn btn-danger border btn-block"
                    data-mdb-toggle="modal"
                    data-mdb-target="#AddScheduleModal">
                Add Your Schedule
            </button>
            <table class="table table-hover mt-3 table-striped">
                <tbody>
                    <tr>
                        <th>Clinic Location</th>
                        <th>Days</th>
                        <th>Clinic Start Time</th>
                        <th>Clinic End Time</th>
                        <th>Action</th>
                    </tr>
                    
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Location
                            </td>
                            <td>
                                @item.WeekDay.Name
                            </td>
                            <td>
                                @item.ClinicStartTime
                            </td>
                            <td>
                                @item.ClinicEndTime
                            </td>
                            <td>
                                <button class="btn btn-warning"
                                    data-mdb-toggle="modal"
                                    data-mdb-target="#AddScheduleModal">
                                    Edit
                                </button>

                                <button class="btn btn-danger" asp-controller="Doctor" asp-action="DeleteSchedule" asp-route-id="@item.Id">Delete</button>
                            </td>
                        </tr>
                       
                    }
                    <tr>
                        <td>Tele-Allergy Clinic CMS</td>
                        <td>Wednesday</td>
                        <td>10:10</td>
                        <td>12:30</td>
                        <td>
                            <button class="btn btn-warning"
                                    data-mdb-toggle="modal"
                                    data-mdb-target="#AddScheduleModal">
                                Edit
                            </button>
                        
                        <button class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="AddScheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white" id="exampleModalLabel">Schedule</h5>
                <button type="button" class="btn-close bg-white" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Doctor" asp-action="Scedule" method="post">
                    <div class="mb-3">
                        <label class="form-label">Clinic Location</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Days</label>
                        <select class="form-select" aria-label="Default select example">
                            <option>Open this select menu</option>
                            <option value="1">Sunday </option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                        </select>
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">Clinic Start Time</label>
                        <input type="time" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Clinic End Time</label>
                        <input type="time" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-block btn-danger">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>


